.btn
  $this: &
  display: flex
  align-items: center
  text-align: left
  padding: 10px 20px
  @apply rounded
  @apply bg-secondary text-white

.btn--active
  @apply bg-white text-primary
  
.btn--small
  width: 100%
  font-size: 14px
  line-height: 1.4
  padding: 6px 14px
  
