.btn
  display: inline-flex
  align-items: center
  padding: 10px 20px
  @apply rounded
  &--dark
  &:not(&--dark)
    @apply bg-light text-dark
    
.grid-video
  display: flex
  &__col
    
    &--player
      flex: 1
    &--list
      flex: 0 0 260px
