@use "sass:selector"

=unify-parent($child)
  @at-root #{selector.unify(&, $child)}
    @content


.panel
  @apply py-7 px-5 rounded-xl border-2 border-accent
  position: sticky
  top: 10px
  //height: 100%

  +unify-parent("aside")
    align-self: self-start
    
    
