.sidebar
  @apply basis-[280px] p-5
  //@apply bg-accent text-primary rounded-xl border-2
  @apply text-secondary rounded-xl border-2 border-accent
  position: sticky
  align-self: self-start
  top: 10px
