@tailwind base
@tailwind components
@tailwind utilities

@import "styles/header"
@import "styles/breadcrumbs"
@import "styles/page"
@import "styles/card"
@import "styles/sidebar"

@import "styles/pages/details"

@import "styles/components/button"
@import "styles/components/loader"



body
  @apply bg-primary text-white
  overflow-y: scroll 

section + section
  margin-top: 60px

.section-title
  @apply text-5xl font-semibold mb-20
  &:first-letter
    text-transform: uppercase
    
.input
  @apply border-primary border
  width: 100%
  height: 40px
  padding: 0 10px
  
.table-lined
  @apply w-full text-xl
  td
    @apply border-b py-2

.link
  @apply transition-colors
  @apply border-b hover:border-transparent
  
.link-main
  @apply transition-colors
  @apply hover:text-secondary
  &.active
    @apply text-secondary
    pointer-events: none

.subtitle
  @apply text-3xl font-semibold mb-3

::-webkit-scrollbar
  width: 10px

::-webkit-scrollbar-track
  background-color: #ebebeb
  -webkit-border-radius: 10px
  border-radius: 10px

::-webkit-scrollbar-thumb
  -webkit-border-radius: 10px
  border-radius: 10px
  background: #6d6d6d
